<%- include('../partials/header') -%>



<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    
                    <h1 class="animated animated-text">
                        <span class="mr-2">About Happy Kids Pre-School</span>
                            <div class="animated-info">
                                <span class="animated-item">100% Outdoor</span>
                                <span class="animated-item">Child Centred</span>
                                <span class="animated-item">Enrolling Now</span>
                            </div>
                    </h1>

                   
                    
                  
                </div>
            </div>

            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-image svg">
                    <img src="../project/happykidsaboutimage.png" class="img-fluid"  style="width: 40%;" alt="Happy Kids Pre School">
                    
                </div>
            </div>

        </div>
    </div>
</section>


<section >



    <div class="container align-items-center" >
      <div class="row align-items-center" >
        
        <div class="col-lg-12 mr-lg-5 col-12">
          
            <h4>Look At The Awsome Things We Offer </h4>
            <p>
Happy Kids Preschool & Montessori, Deanhill, Navan is a Montessori and play based preschool.

Happy Kids was established in 2013 and runs a morning preschool session from 9-12 Monday to Friday providing free ECCE places. We have a beautiful outdoor play area, which the children enjoy on a daily basis sparking creativity and imagination.

Here at Happy Kids we aim to help children develop their social skills and encourage independence by providing appropriate toys, games and learning opportunities in our play based and Montessori environment. Our school is designed to help encourage children to develop essential skills forming the basis for life-long learning.

Fully Qualified Staff – Tusla Registered and approved

Morning Places available from 9am to 12midday.

            </p>
            
            <p>Click on any of the links below to read more about what we do.</p>
        </div>

            <% result.forEach(function(product) { %>
                
              <div class="col-lg-6 col-12" >
                <img src="../resized/<%= product.Image %>" class="img-fluid" alt="Happy Kids Preschool">
                <div class="container">
                <h4><%= product.Title %></h4>
                <% var namex = product.Title 
                var namexfixed = namex.replace(/ /g , "-");
                %>
                
                
                <a href="/about/<%= namexfixed %>/<%= product.Id %>" class="btn custom-btn custom-btn-bg custom-btn-link">Read More</a>
                
                
              </div>
            </div>
              <% }); %>

      </div>
    </div>

  </section>



  


<%- include('../partials/footer') -%>
