<%- include('../partials/header') -%>
<%- include('../partials/about') -%>
<%- include('../partials/slideshow') -%>




    

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Highlights</h2>

                    <div class="timeline">
                        <% result[0].forEach(function(product) { %>
                            
                            <% var namex = product.Title 
                var namexfixed = namex.replace(/ /g , "-");
                %>
                
                
                <a href="/about/<%= namexfixed %>/<%= product.Id %>"><div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span><%= product.bubble %></span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span><%= product.Title %></span><small><%= product.babyBit %></small></h3>
                                  <p><%= product.summary %></p>
                             </div>
                        </div>
                    </a>
                        <% }); %>
                

                   
                        
                       

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Our Team</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2017</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Louise</span><small>Owner</small></h3>
                                  <p>Please tell your friends about Tooplate website. That would be very helpful. We need your support.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2015</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Melissa</span><small>Creative Agency</small></h3>
                                <p><a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> is a great website to download HTML templates without any login or email.</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2023</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Lara</span><small>New Art School</small></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>


                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2013</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Liam</span><small>New Art School</small></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    

<%- include('../partials/footer') -%>
